.controller{  
  margin: 5%;
  width: 90%;
    font-family: arial, sans-serif;
  border-collapse: collapse;
}

.head-row{
  background-color: #e6c7db;
}

.main-table{
  margin: 30px;
}

.right-pannel{
  display: inline;
}

.showing{
  display: inline;
  padding: 10px;
}

.total{
  display: inline;
  padding: 10px;
}

.starting{
  display: inline;
  padding: 10px;
}

.left-pannel{
  display: inline;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

input{
  width: 50px;
  border-radius: 2px;
  margin-left: 5px;
}

label{
  padding: 8px;
}